<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Set Daily Pass limit</h3>
</div>
<div class="modal-body" style = "overflow-x: auto; position: relative; overflow-y: auto;" id="modal-body">
    
    <div class="container">
       
        <div class="row">
            <h5>Select Date</h5>
            <div class="col-md-2">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="customDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
        </div>

        <div class="row">
            <h5>Select State</h5>
            <select ng-model="$parent.selectedState" ng-options="x for x in state">
            </select>
        </div>

       
        <div class="row">
            <h5>Select City</h5>
            <select ng-model="$parent.selectedCity" ng-options="x for x in citiesList">
            </select>
        </div>

        <div class="row">
            <h5>Set Limit</h5>
            <input type="text" ng-model="$parent.selectedCityLimit" id="input01" placeholder="Text">
        </div>
    </div>  
    

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveLimit()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
